<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}?v=2">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Player</title>
</head>
<body>
    <div class="main-container">
        <h1>Add Player</h1>

        <div class="card">
            <form method="POST">
                <input 
                    type="text" 
                    name="name" 
                    placeholder="Enter Player Name" 
                    required>

                <button type="submit">ADD PLAYER</button>
            </form>
        </div>

        <div class="back-container">
            <a href="{{ url_for('whos_playing') }}">
                <button class="back-button glow">&#8592 BACK</button>
            </a>
        </div>
    </div>
</body>
</html>