<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}?v=2">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Player</title>
</head>
<body>
    <div class="main-container">
        <h1 class="glow">Delete Player</h1>

        <div class="delete-subtext">
            Are you sure you want to delete
            <strong>{{ player['name'] }}</strong>?
        </div>

        <div class="card">
            <form method="POST">
                <button type="submit">
                    Yes
                </button>
            </form>
        </div>

        <div class="back-container">
            <a href="{{ url_for('whos_playing') }}">
                <button class="back-button glow">&#8592 NO, CANCEL</button>
            </a>
        </div>
    </div>
</body>
</html>