<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}?v=2">
</head>
<body>
    <div class="main-container">
        <h1 class="glow">Delete Player</h1>

        <div class="player-buttons">
            {% for player in players %}
            <div class="player-container">
                <a href="{{ url_for('delete_player', player_id=player['id']) }}">
                    <div class="player glow">
                        <span>P{{ loop.index }}</span>
                    </div>
                    <div class="label">
                        {{ player['name'] }}
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        <div class="back-container">
            <a href="{{ url_for('whos_playing') }}">
                <button class="back-button glow">&#8592 BACK</button>
            </a>
        </div>
    </div>
</body>
</html>