<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Player</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}?v=2">
</head>
<body>
    <div class="main-container">
        <h1 class="glow">Edit Player</h1>

        <form method="POST" class="card">
            <input 
                type="text" 
                name="name" 
                placeholder="Enter Player Name" 
                value="{{ player['name'] if player['name'] else ''}}"
            >
            <button type="submit">Save</button>
        </form>

        <div class="back-container">
            <a href="{{ url_for('whos_playing') }}">
                <button class="back-button glow">&#8592 BACK</button>
            </a>
        </div>
    </div>
</body>
</html>