<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select A Club</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}?v=8">
</head>
<body>
    <div class="main-container">
        <h1>SELECT A CLUB</h1>

        {% if player_name %}
            <p class="club-subtext">{{ player_name }} is now playing</p>
        {% endif %}

        <div class="club-buttons">
            {% set clubs = [
                ('Driver', 'D'), ('3 Wood', '3w'), ('5 Wood', '5w'),
                ('3 Hybrid', '3h'), ('4 Hybrid', '4h'),
                ('3 Iron', '3i'), ('4 Iron', '4i'), ('5 Iron', '5i'), 
                ('6 Iron', '6i'), ('7 Iron', '7i'), ('8 Iron', '8i'), ('9 Iron', '9i'),
                ('Pitching Wedge', 'PW'), ('Gap Wedge', 'GW'), ('Sand Wedge', 'SW'), ('Lob Wedge', 'LW'),
                ('Putter', 'P')
            ] %}
            {% for club, short in clubs %}
            <a href="{{ url_for('select_gameplay_club', club=club) }}">
                <div class="club-container">
                    <div class="club">
                        <span>{{ short }}</span>
                    </div>
                    {% if 'Wedge' in club %}
                        {% set parts = club.split(' ') %}
                        <div class="wedge-label">{{ parts[0] }}</div>
                        <div class="wedge-label">{{ parts[1] }}</div>
                    {% else %}
                        <div class="label">{{ club.title() }}</div>
                    {% endif %}
                </div>
            </a>
            {% endfor %}
        </div>

        <div class="back-container">
            <a href="{{ url_for('whos_playing') }}">
                <button class="back-button">&#8592; BACK</button>
            </a>
        </div>
    </div>
</body>
</html>